<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.info.basic.DataModelMapper"> 
<select id="selectModels" parameterType="java.util.HashMap" resultType="java.util.HashMap">  
    SELECT ${fields} FROM ${tables} WHERE ${where}
</select>
<select id="selectModelsValueString" parameterType="java.util.HashMap" resultType="java.util.HashMap">  
    SELECT ${fields} FROM ${tables} WHERE ${where}
</select>
<select id="selectValue" parameterType="java.util.HashMap" resultType="String">
	SELECT ${field} FROM ${tables} WHERE ${where}
</select>
<select id="selectExpression" parameterType="java.util.HashMap" resultType="String">
	SELECT ${expression}
</select>

<update id="updateModels" parameterType="java.util.HashMap">
	UPDATE ${table} SET ${expression} WHERE ${where}
</update>

<insert id="insertModelByValues" parameterType="java.util.HashMap">
	INSERT INTO ${table}(${fields}) VALUES (${values})
</insert>
<insert id="insertModelBySelect" parameterType="java.util.HashMap">
	INSERT INTO ${table}(${fields}) SELECT ${expression}
</insert>

<delete id="deleteModel" parameterType="java.util.HashMap">
	DELETE FROM ${table} WHERE ${where}
</delete>

<select id="selectUser" parameterType="java.util.HashMap" resultType="User">
SELECT ${fields} FROM u_user WHERE ${where}
</select>

<insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="pc_commentid">
INSERT INTO pc_post_comment(pc_postid,pc_userid,pc_comment_time,pc_content,pc_type,pc_comment_userid,pc_to_userid) 
VALUES (${pc_postid},${pc_userid},${pc_comment_time},${pc_content},${pc_type},${pc_comment_userid},${pc_to_userid})
</insert>

<insert id="insertActComment" parameterType="ActComment" useGeneratedKeys="true" keyProperty="ac_commentid">
INSERT INTO ac_act_comment(ac_act_id,ac_userid,ac_comment_time,ac_content,ac_type,ac_comment_userid,ac_to_userid) 
VALUES (${ac_actid},${ac_userid},${ac_comment_time},${ac_content},${ac_type},${ac_comment_userid},${ac_to_userid})
</insert>

<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="u_id">
INSERT INTO u_user(u_nickname,u_password,u_gender,u_tel,u_provinceid,u_cityid,u_schoolid,u_student_number,u_student_pass) 
VALUES ('${u_nickname}','${u_password}','${u_gender}','${u_tel}',${u_provinceid},${u_cityid},${u_schoolid},'${u_student_number}','${u_student_pass}')
</insert>

<!-- 获取post喜欢用户列表 -->
  <resultMap id="userList" type="com.info.json.JsonUser">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jul 09 10:07:06 CST 2015.
    -->
    <id column="u_id" jdbcType="INTEGER" property="u_id" />
    <result column="u_nickname" jdbcType="VARCHAR" property="u_nickname" />
    <result column="u_gender" jdbcType="CHAR" property="u_gender" />
    <result column="u_password" jdbcType="VARCHAR" property="u_password" />
    <result column="u_tel" jdbcType="VARCHAR" property="u_tel" />
    <result column="u_email" jdbcType="VARCHAR" property="u_email" />
    <result column="u_birthday" jdbcType="DATE" property="u_birthday" />
    <result column="u_age" jdbcType="SMALLINT" property="u_age" />
    <result column="u_large_avatar" jdbcType="VARCHAR" property="u_large_avatar" />
    <result column="u_small_avatar" jdbcType="VARCHAR" property="u_small_avatar" />
    <result column="u_identity" jdbcType="CHAR" property="u_identity" />
    <result column="u_love_state" jdbcType="CHAR" property="u_love_state" />
    <result column="u_provinceid" jdbcType="INTEGER" property="u_provinceid" />
    <result column="u_cityid" jdbcType="INTEGER" property="u_cityid" />
    <result column="u_schoolid" jdbcType="INTEGER" property="u_schoolid" />
    <result column="u_interest_items" jdbcType="VARCHAR" property="u_interest_items" />
    <result column="u_skill_items" jdbcType="VARCHAR" property="u_skill_items" />
    <result column="u_industry_item" jdbcType="VARCHAR" property="u_industry_item" />
    <result column="u_introduce" jdbcType="VARCHAR" property="u_introduce" />
    <result column="u_post_amount" jdbcType="INTEGER" property="u_post_amount" />
    <result column="u_act_amount" jdbcType="INTEGER" property="u_act_amount" />
    <result column="u_student_number" jdbcType="VARCHAR" property="u_student_number" />
    <result column="u_student_pass" jdbcType="VARCHAR" property="u_student_pass" />
    <result column="u_concern_amount" jdbcType="VARCHAR" property="u_my_concern_count" />
    <result column="u_beconcern_amount" jdbcType="VARCHAR" property="u_my_follower_count" />
    <result column="u_favor_amount" jdbcType="VARCHAR" property="u_my_favor_count" />
  </resultMap>
  <select id="getUserList" parameterType="java.util.HashMap" resultMap="userList">
  SELECT ${fields} FROM ${tables} WHERE ${where}
  </select> 


<!-- 
select resultListPost
	private int p_id;
	private int p_userid;
	private String p_username;
	private String p_small_avatar;
	private String p_large_avatar;
	private String p_gender;
	private String p_text_content;
	private String p_thumbnail;
	private String p_big_photo;
	private Date p_time;
	private int p_comment_count;
	private int p_favor_count; -->
	
	<resultMap type="Post" id="resultListPost">
        <id column="p_id" property="p_id" />
        <result column="p_postid" property="p_postid"/>
        <result column="u_id" property="p_userid" />
        <result column="u_nickname" property="p_username" />
        <result column="u_small_avatar" property="p_small_avatar" />
        <result column="u_large_avatar" property="p_large_avatar" />
        <result column="u_gender" property="p_gender" />
        <result column="p_content" property="p_text_content" />
        <result column="p_thumbnail" property="p_thumbnail" />
        <result column="p_big_photo" property="p_big_photo" />
        <result column="p_post_time" property="p_time" />
        <result column="p_comment_count" property="p_comment_count" />
        <result column="p_favor_count" property="p_favor_count" />
    </resultMap>
    <select id="selectSchoolPost" resultMap="resultListPost" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    <!-- 获取活动  -->
    
    <!-- 获取评论 -->
    <resultMap type="com.info.json.JsonComment" id="resultListComment">
        <id column="commentid" property="c_id" />
        <result column="id" property="p_id"/>
        <result column="userid" property="p_userid" />
        <result column="type" property="comment_type" />
        
        <result column="comment_userid" property="c_user_id" />
        <result column="Aavatar" property="c_user_avatar" />
        <result column="Anickname" property="c_user_nickname" />
        <result column="Agender" property="c_user_gender" />
        
        <result column="Bnickname" property="to_user_nickname" />
        <result column="to_userid" property="to_user_id" />
        
        <result column="content" property="c_content" />
        <result column="comment_time" property="c_time" />
    </resultMap>
    <select id="selectComments" resultMap="resultListComment" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    
    <!-- 测试取回包含回复的帖子 -->
    <resultMap type="com.info.json.JsonPostItemContainComments" id="resultListPostContainComment">
        <id column="p_postid" property="p_postid"/>
        <id column="p_userid" property="p_userid" />
        <result column="u_nickname" property="p_username" />
        <result column="u_small_avatar" property="p_small_avatar" />
        <result column="u_large_avatar" property="p_large_avatar" />
        <result column="u_gender" property="p_gender" />
        <result column="p_content" property="p_text_content" />
        <result column="p_thumbnail" property="p_thumbnail" />
        <result column="p_big_photo" property="p_big_photo" />
        <result column="p_post_time" property="p_time" />
        <result column="p_comment_count" property="p_comment_count" />
        <result column="p_favor_count" property="p_favor_count" />
        <collection property="comments" ofType="com.info.json.JsonComment" column="{pc_postid = p_postid,pc_userid=p_userid}" select="getComments">
            <id column="pc_postid" property="pc_postid"/>
            <id column="pc_userid" property="pc_userid"/>   
            <result column="pc_comment_time" property="pc_comment_time"/>  
            <result column="pc_content" property="pc_content"/>
            <result column="pc_type" property="pc_type"/>
            <result column="pc_comment_userid" property="pc_comment_userid"/>
            <result column="pc_to_userid" property="pc_to_userid"/>
        </collection> 
    </resultMap>
    <select id="selectPostsContainComments" parameterType="java.util.HashMap" resultMap="resultListPostContainComment">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    <select id="getComments" parameterType="java.util.HashMap" resultType="com.info.json.JsonPostComment">
    SELECT * FROM pc_post_comment WHERE pc_postid=#{pc_postid} AND pc_userid=#{pc_userid} limit 0,3
    </select>
    <!--  -->
    
    
    <!-- 
    选择活动
    private int a_id;
    ptivate int a_actid;
	private String a_title;
	private int a_userid;
	private String a_username;
	private String a_small_avatar;
	private String a_large_avatar;
	private String a_gender;
	private Date a_time;
	private String a_detail_content;
	private String a_thumbnail;
	private String a_big_photo;
	private Date a_act_date;
	private String a_act_location;
	private String a_act_target;
	private String a_act_type;
	private int a_comment_count;
	private int a_favor_count;
     -->
     <resultMap type="Activity" id="resultListActivity">
        <id column="a_id" property="a_id" />
        <result column="a_actid" property="a_actid" />
        <result column="a_act_title" property="a_title" />
        <result column="u_id" property="a_userid" />
        <result column="u_nickname" property="a_username" />
        <result column="u_small_avatar" property="a_small_avatar" />
        <result column="u_large_avatar" property="a_large_avatar" />
        <result column="u_gender" property="a_gender" />
        <result column="a_addtime" property="a_time" />
        <result column="a_content" property="a_detail_content" />
        <result column="a_thumbnail" property="a_thumbnail" />
        <result column="a_big_photo" property="a_big_photo" />
        <result column="a_acttime" property="a_act_date" />
        <result column="a_address" property="a_act_location" />
        <result column="a_target" property="a_act_target" />
        <result column="a_comment_count" property="a_comment_count" />
        <result column="a_favor_count" property="a_favor_count" />
        <result column="a_apply_amount" property="a_apply_amount" />
    </resultMap>
    <select id="selectSchoolActivity" resultMap="resultListActivity" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    <!-- 获取用户消息 -->
    <resultMap type="com.info.json.JsonMyMessage" id="resultListMsg">
        <id column="messageid" property="messageid" />
        <result column="pa_id" property="pa_id" />
        <result column="pa_userid" property="pa_userid" />
        <result column="pa_type" property="pa_type" />
        <result column="type" property="type" />
        <result column="pa_image" property="pa_image" />
        <result column="pa_content" property="pa_content" />
        
         <result column="to_userid" property="to_userid" />
        <result column="userid" property="userid" />
        <result column="username" property="username" />
        <result column="gender" property="gender" />
        <result column="small_avatar" property="small_avatar" />
        <result column="commentcontent" property="commentcontent" />
        <result column="commenttime" property="commenttime" />
        <result column="read" property="read" />
    </resultMap>
    <select id="selectMsg" resultMap="resultListMsg" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    <!-- 圈子分组 -->
    <resultMap type="com.info.json.JsonQuanZiItem" id="resultListQuanZi">
        <id column="i_id" property="i_id" />
        <result column="i_name" property="i_name" />
        <result column="amount" property="amount" />
    </resultMap>
    <select id="selectQuanZi" resultMap="resultListQuanZi" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
    
     <!-- 分组获取关注者 列表-->
    <resultMap type="com.info.json.JsonConcern" id="resultListConcern">
        <id column="u_id" property="user_id" />
        <result column="u_nickname" property="user_name" />
        <result column="u_small_avatar" property="user_small_avatar" />
        <result column="u_gender" property="user_gender" />
        
        <result column="c_read" property="is_read" />
        <result column="c_concern_time" property="concern_date" />
    </resultMap>
    <select id="selectConcernList" resultMap="resultListConcern" parameterType="java.util.HashMap">
    SELECT ${fields} FROM ${tables} WHERE ${where}
    </select>
</mapper>